body {
    background: url("images/182529.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.navbar.navbar-light.bg-light {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 40px 10px 40px 10px;
    border: solid 2px white;
}

.jumbotron {
    margin: 10px 60px 10px 60px;
}